/*===== SET UP VARIABLES =====*/

:root {
    --mainColor: #252525;
    --secondaryColor: #fff;
    --borderColor: #c1c1c1;
    --secondaryTextW: rgb(214, 214, 214);
    --secondaryTextB: rgb(46, 46, 46);
    --header-font: 'Poppins', sans-serif;
    --p-font: 'Roboto', sans-serif;
}

/*===== BASE =====*/

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 56px;
    margin: 0;
}

h2 {
    font-size: 36px;
    font-family: var(--header-font);
    color: var(--secondaryColor);
    margin-top: 0px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 20px;
    font-family: var(--p-font);
    color: var(--secondaryColor);
    margin-top: 0px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--secondaryColor);
    font-size: 20px;
}

.s0 {
    background-color: var(--mainColor);
    /* Fix white space */
    overflow: auto;
    height: 690px;
}

.s0v2 {
    background-color: var(--mainColor);
    /* Fix white space */
    overflow: none;
    height: 100px;
}

.s0v3 {
    background-color: var(--mainColor);
    /* Fix white space */
    overflow: none;
    height: 50px;
}

.s1 {
    background-color: var(--mainColor);
    /* Fix white space */
    overflow: auto;
}

.s2 {
    background-color: var(--secondaryColor);
    overflow: auto;
}

/*===== NAV BAR =====*/

.nav-bar {
    background-color: var(--mainColor);
    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed;
    width: 100%;
    z-index: 9999;
    display: block;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.nav-link {
    color: var(--secondaryColor);
    padding: 20px;
    font-family: var(--header-font);
    opacity: 0.6;
}

.nav-link:hover {
    color: var(--secondaryColor);
    font-family: var(--header-font);
    opacity: 1;
}

/*===== MOBILE NAV BAR =====*/

.mobile_nav {
    background: rgba(0, 0, 0, 0.9);
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -250px;
    display: none;
    transition: all 0.5s;
}

.active {
    left: 0;
    transition: all 0.5s;
}

.mobile_nav ul {
    padding: 50px 0px;
    transition: all 0.5s;
}

.mobile_nav li {
    color: #fff;
    text-align: center;
    margin: 20px 0px;
    text-transform: uppercase;
    font-family: arial;
    font-weight: 900;
    cursor: pointer;
    transition: all 0.5s;
}

.button1 {
    background: #505050;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 10px;
    left: 260px;
    cursor: pointer;
    border: 0px;
    outline: none;
}

.button1 span {
    background: #fff;
    width: 50px;
    height: 5px;
    display: block;
    position: absolute;
    top: 45%;
    left: 15px;
}

.button1 span:before {
    content: '';
    background: #fff;
    width: 50px;
    height: 5px;
    display: block;
    position: absolute;
    top: -12px;
}

.button1 span:after {
    content: '';
    background: #fff;
    width: 50px;
    height: 5px;
    display: block;
    position: absolute;
    top: 12px;
}

.button1.btn span {
    background: transparent;
    transition: all 0.5s;
}

.button1.btn span:before {
    transform: rotate(45deg);
    top: 0;
    transition: all 0.5s;
}

.button1.btn span:after {
    transform: rotate(-45deg);
    top: 0;
    transition: all 0.5s;
}

/*===== GREETING SECTION =====*/

#Home {
    display: flex;
    flex-direction: row;
    padding-top: 5%;
    width: 100%;
}

.main-containerHome {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    gap: 200px;
}

.main-container {
    margin: 0 auto;
    padding-top: 125px;
    padding-bottom: 125px;
    margin-left: 25%;
    margin-right: 25%;
}

.main-containerProj {
    margin: 0 auto;
    padding-top: 125px;
    padding-bottom: 125px;
}

.home-main>h1 {
    color: var(--secondaryColor);
    font-family: var(--header-font);
}

.about-main>h1 {
    color: var(--mainColor);
    font-family: var(--header-font);
    text-align: center;
}

.home-p {
    color: var(--secondaryTextW);
    font-family: var(--p-font);
    margin-top: -70px;
    padding-left: 0px;
    font-size: 30px;
    padding-bottom: 5px;
}

.pic>img {
    position: relative;
    width: 500px;
}

.button {
    /*position: relative;*/
    top: 50px;
    left: 100px;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 10px;
    background: var(--mainColor);
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid var(--secondaryColor);
    font-family: var(--header-font);
    margin-top: 20px;
}

.button:hover {
    background: var(--secondaryColor);
    transition: 0.3s;
}

.button:hover a {
    color: var(--mainColor);
    transition: 0.3s;
}

.button2 {
    text-align: center;
    display: block;
    width: 100px;
    padding: 10px;
    background: var(--mainColor);
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-family: var(--header-font);
}

.button2:hover {
    background: #000000c9;
}

.main-containerProj>.grid-container>.grid-item>.grid-txt>button>a {
    font-size: 15px;
}

/*===== GITHUB AND LINKEDIN =====*/

/*
.logos {
    position: relative;
    left: 100px;
}
*/

.logos>a {
    opacity: 0.6;
}

.logos>a:hover {
    opacity: 1;
}

.logos>a:hover {
    opacity: 1;
}

.intros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px auto;
    position: relative;
    overflow: hidden;
}

/*===== ARROW ======*/

.arrow-down {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%)
}

.arrow-down span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid var(--secondaryColor);
    border-right: 5px solid var(--secondaryColor);
    transform: rotate(45deg);
    animation: scroll-down 2s infinite;
}

@keyframes scroll-down {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

.arrow-up {
    position: absolute;
    left: 95%;
    transform: translate(-50%, -50%);
    animation: scroll-up 2s infinite;
}

.arrow-up span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid var(--secondaryColor);
    border-right: 5px solid var(--secondaryColor);
    transform: rotate(-135deg);
}

@keyframes scroll-up {
    0% {
        opacity: 0;
        transform: rotate(0deg) translate(0px, 20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(0px, -20px);
    }
}

/*===== ABOUT SECTION =====*/

.about-p>p {
    color: var(--secondaryTextB);
    font-family: var(--p-font);
    font-size: 30px;
}

/*=====PROJECTS SECTION =====*/

.portfolio-main>h1 {
    color: var(--secondaryColor);
    font-family: var(--header-font);
    text-align: center;
}

.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 500px 500px;
    row-gap: 50px;
    column-gap: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

.grid-item {
    background: #505050;
    border-radius: 10px;
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 500px;
    padding: 20px;
}

.grid-txt {
    padding-left: 50px;
}

.grid-container>.grid-item>.grid-img>img {
    width: 200px;
    height: auto;
    transition: all .2s ease-in-out;
    margin: 0;
    padding: 0;
}

.grid-container>.grid-item>.grid-img>a>img:hover {
    transform: scale(1.1);
}

.grid-item>h2 {
    margin-bottom: 0px;
}

.grid-item>.grid-txt>p {
    font-family: var(--p-font);
    font-size: 15px;
    color: var(--secondaryTextW);
    margin-top: 0px;
}

.grid-item>.grid-txt>p {
    font-family: var(--p-font);
    font-size: 15px;
    color: var(--secondaryTextW);
    margin-top: 0px;
}

.grid-item>.grid-txt>a {
    font-family: var(--p-font);
    font-size: 15px;
    color: var(--secondaryTextW);
    margin-top: 0px;
}

/*===== TECHNOLOGIES SECTION =====*/

.technology-main>h1 {
    color: var(--mainColor);
    font-family: var(--header-font);
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
}

.tech {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

/*===== GOALS SECTION =====*/

.goal-list {
    margin-top: 50px;
    display: block;
    margin-left: 30%;
}

.goal-list>ul>li {
    color: var(--secondaryTextW);
    font-family: var(--p-font);
    font-size: 30px;
}

.goal-list>ul>li>ul>li {
    font-size: 20px;
    margin-left: 50px;
}

/*===== FOOTER =====*/

h4 {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
}

/*===== MEDIA QUERY =====*/

@media screen and (max-width: 1100px) {
    #Home {
        flex-direction: column;
        justify-content: center;
        overflow-x: hidden;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10%;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 25px;
    }
    .nav-links {
        display: none;
    }
    .mobile_nav {
        display: block;
    }
    .about-p>p {
        font-size: 23px;
    }
    .pic {
        overflow: none;
        margin: 0;
    }
    .pic>img {
        width: 300px;
    }
    .goal-list {
        margin-left: 5%;
    }
    .intros {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px auto;
        position: relative;
        top: 55px;
        overflow: hidden;
    }
    .button {
        width: 250px;
        top: 10px;
        margin: 0px auto;
    }
    .main-containerHome {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        padding: 0;
        align-items: center;
        gap: 70px;
    }
    .grid-container {
        display: grid;
        grid-template-columns: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .grid-item {
        background: #505050;
        border-radius: 10px;
        margin: 0;
        display: flex;
        justify-items: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 300px;
        padding: 20px;
    }
    .arrow {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%)
    }
    .arrow-down span {
        width: 20px;
        height: 20px;
    }
    .arrow-up span {
        width: 20px;
        height: 20px;
    }
    @keyframes scroll {
        0% {
            opacity: 0;
            transform: rotate(45deg) translate(-20px, -20px);
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            transform: rotate(45deg) translate(20px, 20px);
        }
    }
}

/*
@media screen and (max-width: 1024px) {
    .main-containerHome {
        padding-right: 18%;
    }
}

@media screen and (max-width: 768px) {
    .main-containerHome {
        padding-right: 25%;
    }
}
*/